language: rust

matrix:
  fast_finish: true
  include:
    # x86_64-apple-darwin
    - env: TARGET=x86_64-apple-darwin
      rust: 1.11.0
      os: osx
      osx_image: xcode8.3
    - env: TARGET=x86_64-apple-darwin
      rust: beta
      os: osx
      osx_image: xcode9.2
    - env: TARGET=x86_64-apple-darwin
      rust: nightly
      os: osx
      osx_image: xcode9.2
    - env: TARGET=x86_64-apple-darwin
      rust: nightly
      os: osx
      osx_image: xcode8.3
    - env: TARGET=x86_64-apple-darwin
      rust: nightly
      os: osx
      osx_image: xcode7.3
    - env: TARGET=x86_64-apple-darwin
      rust: nightly
      os: osx
      osx_image: xcode6.4

    # i686-apple-darwin
    - env: TARGET=i686-apple-darwin
      rust: 1.11.0
      os: osx
      osx_image: xcode8.3
    - env: TARGET=i686-apple-darwin
      rust: beta
      os: osx
      osx_image: xcode9.2
    - env: TARGET=i686-apple-darwin
      rust: nightly
      os: osx
      osx_image: xcode9.2
    - env: TARGET=i686-apple-darwin
      rust: nightly
      os: osx
      osx_image: xcode8.3
    - env: TARGET=i686-apple-darwin
      rust: nightly
      os: osx
      osx_image: xcode7.3
    - env: TARGET=i686-apple-darwin
      rust: nightly
      os: osx
      osx_image: xcode6.4

    # x86_64-apple-ios
    - env: TARGET=x86_64-apple-ios NORUN=1
      rust: 1.11.0
      os: osx
      osx_image: xcode8.3
    - env: TARGET=x86_64-apple-ios NORUN=1
      rust: beta
      os: osx
      osx_image: xcode9.2
    - env: TARGET=x86_64-apple-ios NORUN=1
      rust: nightly
      os: osx
      osx_image: xcode9.2
    - env: TARGET=x86_64-apple-ios NORUN=1
      rust: nightly
      os: osx
      osx_image: xcode8.3
    - env: TARGET=x86_64-apple-ios NORUN=1 NOCTEST=1
      rust: nightly
      os: osx
      osx_image: xcode7.3
    - env: TARGET=x86_64-apple-ios NORUN=1 NOCTEST=1
      rust: nightly
      os: osx
      osx_image: xcode6.4

    # i386-apple-ios
    - env: TARGET=i386-apple-ios NORUN=1
      rust: 1.11.0
      os: osx
      osx_image: xcode8.3
    - env: TARGET=i386-apple-ios NORUN=1
      rust: beta
      os: osx
      osx_image: xcode9.2
    - env: TARGET=i386-apple-ios NORUN=1
      rust: nightly
      os: osx
      osx_image: xcode9.2
    - env: TARGET=i386-apple-ios NORUN=1
      rust: nightly
      os: osx
      osx_image: xcode8.3
    - env: TARGET=i386-apple-ios NORUN=1 NOCTEST=1
      rust: nightly
      os: osx
      osx_image: xcode7.3
    - env: TARGET=i386-apple-ios NORUN=1 NOCTEST=1
      rust: nightly
      os: osx
      osx_image: xcode6.4

    # aarch64-apple-ios
    - env: TARGET=aarch64-apple-ios NORUN=1 NOCTEST=1
      rust: 1.11.0
      os: osx
      osx_image: xcode8.3
    - env: TARGET=aarch64-apple-ios NORUN=1 NOCTEST=1
      rust: beta
      os: osx
      osx_image: xcode9.2
    - env: TARGET=aarch64-apple-ios NORUN=1 NOCTEST=1
      rust: nightly
      os: osx
      osx_image: xcode9.2
    - env: TARGET=aarch64-apple-ios NORUN=1 NOCTEST=1
      rust: nightly
      os: osx
      osx_image: xcode8.3
    - env: TARGET=aarch64-apple-ios NORUN=1 NOCTEST=1
      rust: nightly
      os: osx
      osx_image: xcode7.3
    - env: TARGET=aarch64-apple-ios NORUN=1 NOCTEST=1
      rust: nightly
      os: osx
      osx_image: xcode6.4

    # armv7-apple-ios
    - env: TARGET=armv7-apple-ios NORUN=1 NOCTEST=1
      rust: 1.11.0
      os: osx
      osx_image: xcode8.3
    - env: TARGET=armv7-apple-ios NORUN=1 NOCTEST=1
      rust: beta
      os: osx
      osx_image: xcode9.2
    - env: TARGET=armv7-apple-ios NORUN=1 NOCTEST=1
      rust: nightly
      os: osx
      osx_image: xcode9.2
    - env: TARGET=armv7-apple-ios NORUN=1 NOCTEST=1
      rust: nightly
      os: osx
      osx_image: xcode8.3
    - env: TARGET=armv7-apple-ios NORUN=1 NOCTEST=1
      rust: nightly
      os: osx
      osx_image: xcode7.3
    - env: TARGET=armv7-apple-ios NORUN=1 NOCTEST=1
      rust: nightly
      os: osx
      osx_image: xcode6.4

    - env: RUSTFMT
      rust: nightly
      before_script:
        - rustup component add rustfmt-preview
      script:
        - cargo fmt -- --write-mode=diff
  allow_failures:
    - env: RUSTFMT
script:
  - ci/run.sh
